@import '../../../../styles/mixins';

:host {
  display: grid;
  //border: 1px solid var(--light-solid);
  border-width: 1px;
  border-color: var(--light-solid);
  border-style: solid;
  border-radius: 2px;
  padding: 16px;
  grid-template-columns: 32px 1fr;
  grid-gap: 12px;
  align-items: center;
  background: var(--dark-solid);
  @include margin-bottom16;
}

.post-body {
  display: flex;
  flex-direction: column;

  .post-title {
    @include margin-bottom32;
    .post-subtitle {
      background: var(--dark-solid);
      @include font-size14-500-150;
      padding: 10px 5px;
      width: 100%;
      color: var(--light-transparent);
      border: 1px dashed var(--light-transparent);

      &:hover,
      &:focus-visible {
        outline: 1px solid var(--primary-primary);
        border-radius: 4px;
      }
    }
  }

  .post-text {
    display: grid;
    grid-template-columns: 1fr 96px;
    grid-gap: 12px;
    align-items: center;

    .hidden-textarea {
      resize: none;
      background: var(--dark-solid);
      border: none;
      @include font-size14-500-150;
      color: var(--light-transparent);
      padding: 0 5px;

      &:hover,
      &:focus-visible {
        outline: 1px solid var(--primary-primary);
        border-radius: 4px;
      }
    }

    .post-controls {
      @include flex-center;
      gap: 12px;

      .post-emoji {
        width: 44px;
        height: 44px;

        .emoji-icon {
          width: 16px;
          height: 16px;
          border-radius: 100%;
        }
      }

      .post-send {
        width: 44px;
        height: 44px;
        border: 1px solid var(--dark-solid);
        border-radius: 2px;
        padding: 14px;
        background: var(--primary-primary);

        .send-post-icon {
          width: 16px;
          height: 16px;
          border-radius: 100%;
          color: black;
        }
      }
    }
  }
}

.post-subtitle::placeholder,
.hidden-textarea::placeholder {
  @include font-size14-500-150;
  color: var(--light-transparent);
}
