<app-avatar-circle
  *ngIf="profile() as profile"
  [avatarUrl]="profile.avatarUrl"
  [class]="'size32'"
></app-avatar-circle>

<div class="post-body">
  <textarea
    (input)="onTextAreaInput($event)"
    class="hidden-textarea" ></textarea>
  <div class="post-controls">
    <button type="button" class="post-emoji">
      <svg icon="emoji" class="emoji-icon"></svg>
    </button>
    <button type="button" class="post-send">
      <svg icon="send-post" class="send-post-icon"></svg>
    </button>
  </div>
</div>
