<div class="form-wrapper">
  <form class="form" [formGroup]="orderForm">
    <h1 class="form__title">Оформление заказа</h1>
    <fieldset class="form__section">
      <legend class="form__legend">Товар</legend>
      <div class="form-field">
        <label for="product" class="form-field__label">Выберите товар</label>
        <select id="product" formControlName="product" class="form-field__control">
          <option [ngValue]="null" disabled hidden>Выберите товар</option>
          @for (product of products; track product.id) {
            <option [ngValue]="product">{{ product.title }}</option>
          }
        </select>
        @if (selectedProduct) {
          <div class="form-field__hint">В наличии: {{ selectedProduct.stock }}</div>
        }
      </div>
      <div class="form-field">
        <label for="amount" class="form-field__label">Укажите количество</label>
        <input
          id="amount"
          min="1"
          step="1"
          type="number"
          formControlName="amount"
          placeholder="Количество"
          class="form-field__control"
        />
        @if (isAmountToLarge) {
          <div class="form-field__hint">Недосточно товара на складе</div>
        }
      </div>
    </fieldset>
    <fieldset class="form__section">
      <legend class="form__legend">Получатель</legend>
      <fieldset class="choice-group">
        <legend class="choice-group__legend">Укажите тип получателя</legend>
        <label class="choice-group__label">
          <input value="person" type="radio" formControlName="recipientType" class="choice-group__control" />
          <span class="choice-group__text">Физическое лицо</span>
        </label>
        <label class="choice-group__label">
          <input value="legal" type="radio" formControlName="recipientType" class="choice-group__control" />
          <span class="choice-group__text">Юридическое лицо</span>
        </label>
      </fieldset>
      <div class="form-row">
        <div class="form-field">
          <label for="firstName" class="form-field__label">Имя</label>
          <input
            id="firstName"
            type="text"
            formControlName="firstName"
            placeholder="Имя"
            autocomplete="given-name"
            class="form-field__control"
          />
        </div>
        <div class="form-field">
          <label for="lastName" class="form-field__label">Фамилия</label>
          <input
            id="lastName"
            type="text"
            placeholder="Фамилия"
            autocomplete="family-name"
            formControlName="lastName"
            class="form-field__control"
          />
        </div>
        <div class="form-field">
          <label for="legalName" class="form-field__label">Название организации</label>
          <input
            id="legalName"
            type="text"
            placeholder="Название организации"
            autocomplete="organization"
            formControlName="legalName"
            class="form-field__control"
          />
        </div>
        <div class="form-field">
          <label for="inn" class="form-field__label">ИНН</label>
          <input
            id="inn"
            type="text"
            placeholder="10 или 12 цифр"
            inputmode="numeric"
            pattern="[0-9]{10}|[0-9]{12}"
            formControlName="inn"
            class="form-field__control"
          />
        </div>
      </div>
    </fieldset>
    <fieldset class="form__section">
      <legend class="form__legend">Способ доставки</legend>
      <div class="choice-group">
        <label class="choice-group__label">
          <input value="pickup" type="radio" formControlName="deliveryMethod" class="choice-group__control" />
          <span class="choice-group__text">Самовывоз</span>
        </label>
        <label class="choice-group__label">
          <input value="courier" type="radio" formControlName="deliveryMethod" class="choice-group__control" />
          <span class="choice-group__text">Доставка курьером</span>
        </label>
      </div>
    </fieldset>
    @if (extraServices.length > 0) {
      <fieldset class="form__section" [formGroup]="extraServicesControls">
        <legend class="form__legend">Дополнительные услуги</legend>
        <div class="choice-group">
          @for (extraService of extraServices; track extraService.code) {
            <label class="choice-group__label">
              <input type="checkbox" [formControlName]="extraService.code" class="choice-group__control" />
              <span class="choice-group__text">{{ extraService.label }}</span>
            </label>
          }
        </div>
      </fieldset>
    }
    <fieldset class="form__section">
      <legend class="form__legend">Адрес доставки</legend>
      <button type="button" (click)="addAddress()" class="form__button address">Добавить адрес</button>
      @for (group of orderForm.controls.addresses.controls; track group; let i = $index) {
        <div [formGroup]="group" class="address-card">
          <div class="form-row">
            <div class="form-field">
              <label for="city" class="form-field__label">Город</label>
              <input
                id="city"
                type="text"
                placeholder="Город"
                autocomplete="address-level2"
                formControlName="city"
                class="form-field__control"
              />
            </div>
            <div class="form-field">
              <label for="street" class="form-field__label">Улица</label>
              <input
                id="street"
                type="text"
                placeholder="Улица"
                autocomplete="address-line1"
                formControlName="street"
                class="form-field__control"
              />
            </div>
            <div class="form-field">
              <label for="house" class="form-field__label">Дом</label>
              <input
                id="house"
                type="text"
                placeholder="Дом"
                autocomplete="address-line2"
                formControlName="house"
                class="form-field__control"
              />
            </div>
            <div class="form-field">
              <label for="building" class="form-field__label">Корпус</label>
              <input
                id="building"
                type="text"
                placeholder="Корпус"
                autocomplete="address-line2"
                formControlName="building"
                class="form-field__control"
              />
            </div>
            <div class="form-field">
              <label for="apartment" class="form-field__label">Квартира</label>
              <input
                id="apartment"
                type="text"
                placeholder="Квартира"
                formControlName="apartment"
                class="form-field__control"
              />
            </div>
          </div>
        </div>
        <button type="button" (click)="removeAddress(i)" class="form__button address">Удалить адрес</button>
      }
    </fieldset>
    <div class="form__controls">
      <button type="button" class="form__button">Очистить</button>
      <button type="submit" class="form__button">Подтвердить</button>
    </div>
  </form>
</div>
