@import "../../../../styles/mixins";


:host {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 16px;
  border: 1px solid var(--light-solid);
  padding: 20px;
  background: var(--dark-solid);
  @include margin-bottom16;
}

.post-column {
  display: grid;
  grid-gap: 8px;

  .post-body {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    .post-total {
      .post-header {
        @include flex-center;
        gap: 8px;
        @include margin-bottom12;
        .post__author {
          @include font-size14-700-150;
          color: var(--light-solid);
        }
        .post-created-at {
          @include font-size12-500-133;
          color: var(--light-transparent);
        }
      }

      .post-content {
        @include font-size12-500-133;
        color: var(--light-solid);
        .post-content__title {
          @include margin-bottom20;
        }
      }
    }
    .button-points {
      cursor: pointer;
    }
  }

  .post-counters {
    @include flex-center;
    gap: 20px;
    @include font-size12-700;
    width: 38px;
    height: 32px;

    .comment-amount {
      @include flex-center;
      gap: 6px;
      color: var(--primary-primary);
      .comments-length {
      }
    }

    .like-amount {
      @include flex-center;
      gap: 6px;
      color: var(--light-solid);
      .like-length {
      }
    }
  }

  .post-comments {
  }
}


.comment-amount-icon {
  width: 16px;
  height: 16px;
  color: var(--primary-primary);
}

.comment-amount-icon.white {
  width: 16px;
  height: 16px;
  color: var(--light-solid);
}
