<form action="" class="login-form">
  <h1 class="h1">Вход</h1>

  <div class="form-body">
    <label class="tt-control-label">
      <span class="control-title">Telegram username</span>
      <input class="tt-input" type="text" placeholder="Введите логин">
    </label>

    <label class="tt-control-label">
      <span class="control-title">Пароль</span>
      <input class="tt-input" type="text" placeholder="Введите пароль">
    </label>
  </div>

  <button class="btn btn-login">Войти</button>
</form>
<img src="/assets/img/svg/logo-big.svg" alt="logo big">
