<form
  class="login-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>

  <h1 class="h1">Вход</h1>

  <div class="form-body">
    <label class="tt-control-label">
      <span class="control-title">Telegram username</span>
      <input
        formControlName="username"
        class="tt-input"
        type="text"
        placeholder="Введите логин">
      <span class="control-telegram-icon">
        <svg icon="telegram" class="telegram-icon"></svg>
      </span>
    </label>

    <label class="tt-control-label">
      <span class="control-title">Пароль</span>
      <input
        formControlName="password"
        class="tt-input"
        [type]="isPasswordVisible() ? 'text' : 'password'"
        placeholder="Введите пароль">
      <button
        class="password-eye-button"
        [class.active]="isPasswordVisible()"
        (click)="isPasswordVisible.set(!isPasswordVisible())"
      >
        <svg icon="eye" class="eye-icon"></svg>
      </button>
    </label>
  </div>

  <button class="btn btn-login" type="submit">Войти</button>
</form>
<img src="assets/img/svg/logo-big.svg" alt="logo big">
